body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form
{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50vmin;
}
a {
  color: #00B7FF;
}
table, tr
{
  background-color: rgb(85, 95, 88);
  color: cornsilk;
  border-spacing: 1vmax;
  border-collapse: collapse;
  border-bottom: 3vmax solid  rgb(185,175,185);
}
td
{
  padding: 3px 25px;
}
header *
{
  color: black;
  font-size: 5vmin;
}
header
{
  display: flex;
  justify-content: space-evenly;
  padding: 2vmin;
  background-color: red;
  margin: 0;
  width: 100vw;
}