<table>
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Airline</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.flightNo %></td>
          <td><%= f.airline %></td>
          <td><%= f.departs.toLocaleDateString() %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  